html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 0;
  padding: 0;
  height: 100%;
}

#hover-area {
  background-color: burlywood;
}

#paint {
  width: 100%;
  height: 100%;
}
